html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'Sansus';
    src: url('sansuswebissimo-regular-webfont.eot');
    src: url('sansuswebissimo-regular-webfont.eot?#iefix') format('embedded-opentype'), url('sansuswebissimo-regular-webfont.woff') format('woff'), url('sansuswebissimo-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mariad Pro';
    src: url('MyriadPro-Regular.eot');
    src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('MyriadPro-Regular.woff') format('woff'), url('MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*------------------------ШАБЛОН---------------------------*/
HTML {
    background: url(img/BG.jpg) no-repeat center top #000;
}

#box {
    width: 1239px;
    margin: auto
}

/*------------------Шапка----------------------*/
#header {
    height: 300px;
    width: 1254px;
}

.logo {
    height: 120px;
    width: 580px;
    float: left;
}

.logo a img {
    margin: 50px 0px 0px 10px;
    border: none;
}

.banner {
    width: 480px;
    height: 81px;
    float: right;
    margin-top: 31px;
}

.banner img {
    border: none;
}

.menu {
    height: 80px;
    width: 1195px;
    float: left;
    margin: 27px 0px 0px 18px;
    background: url("img/main.jpg");
}

.menu ul {
    list-style: none;
    text-align: center;
    margin-top: 14px;
    height: 38px;
}

.menu ul li {
    display: inline-block;
}

.menu ul li+li {
    background: url(img/to4ka.png) no-repeat left;
}

.menu ul li div a {
    color: #ffffff;
    text-decoration: none;
    font: 22px Mariad Pro;
    margin: 0px 5px 0px 5px;;
}

.menu ul li div {
    padding: 5px 10px 0px 15px;
    height: 31px;
}

.thispage {
    border-left: 1px solid #302427;
    border-top: 1px solid #302427;
    border-right: 1px solid #877877;
    border-bottom: 1px solid #877877;
    border-radius: 5px;
    background: url("img/tenb.png");
}

/*-------------------главный блок---------------------------*/
.box2 {
    width: 1232px;
    height: 1300px;
    border: 3px solid #928c8c;
    margin-top: 25px;
    background-color: #f4f3f3;
    position: absolute;
}

/*---------------левый сайд-бар-----------*/
#LeftSB {
    width: 233px;
    height: 1300px;
    border-right: 3px solid #928c8c;
    position: relative;
    float: left;
}

.titlelsb {
    height: 30px;
}

.titlelsb img {
    margin: -16px 0px 0px 48px;
}

.game {
    border-bottom: 3px solid #928c8c;
    padding-bottom: 3px;
}

.game ul {
    margin: 0px 0px 10px 30px;
}

.game ul li {
    list-style-image: url(img/game-sp.png);
}

.game ul li h2 {
    color: #203145;
    font: 18px Sansus;
    text-decoration: none;
    font-weight: normal;
}

.game ul li ul li {
    list-style-image: url(img/game-sp2.png);
}

.game ul li ul li a {
    font: 18px Mariad pro;
    color: #5e7da2;
    text-decoration: none;
}

.valutu {
    font: 18px "Sansus";
    color: #364454;
}

.kyrs {
    margin: 8px 0px 8px 56px;
}

.val dt {
    background: url(img/VAL1.png) no-repeat left center;
    color: #283646;
    padding-left: 25px;
    margin: 0px 0px 5px 20px;
}

.val dd {
    background: url(img/VAL2.png) no-repeat left center;
    color: #283646;
    margin: -27px 0px 5px 122px;
    padding-left: 25px;
}

/*---------------правый сайтбар-----------*/
#RightSB {
    width: 233px;
    height: 1300px;
    float: right;
    border-left: 3px solid #928c8c;
    position: relative;
}

.kontakt {
    margin-top: 198px;
}

.kontakt ul li {
    list-style-image: url("img/game-sp.png");
    list-style-position: inside;
    margin: 7px 0px 0px 0px;
    text-align: center;
}

.kontakt ul li a {
    text-decoration: none;
    font: 18px "Sansus";
    color: #203145;
}

.kontakt ul li ul {
    margin: 17px 0px 0px 17px
}

.kontakt ul li ul li {
    list-style: none;
    text-align: left;
    font: 18px "Sansus";
    color: #818181;
}

/*---------------------КОНТЕНТ--------------------*/
#Content {
    position: relative;
    float: left;
    width: 760px;
}

/*--------контент-главная----------*/
.ConGame {
    margin: 21px 0px 0px 30px;
    height: 233px;
    width: 699px;
    border: 1px solid #6e849d;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #7f848a, -1px -1px 1px #b4b9c0;
}

.name {
    float: left;
    position: relative;
    width: 202px;
    height: 231px;
    border-right: 1px solid #b7b6b6;
    box-shadow: inset -3px 0px 10px #ecebeb;
}

.name h1 {
    font: 23px "Sansus";
    color: #e6e3e3;
    margin: 2px 0px 0px 8px;
    text-shadow: 1px 1px 1px #9b9a9a;
}

.name img {
    margin-right: 4px;
}

.namimg {
    margin: 34px 0px 0px 14px;
}

.about {
    float: left;
    position: relative;
    width: 494px;
    height: 231px;
}

.about p {
    font: 13px "Sansus";
    margin: 17px 0px 0px 16px;
    font-weight: bold;;
}

.about ul {
    list-style-image: url("img/strel3.png");
    margin: 46px 0px 0px 35px;
}

.about ul li a {
    text-decoration: none;
    font: 18px "Sansus";
    color: #4f749f;
}

/*--------контент-перевод------*/
.panel {
    margin: 13px 0 0 17px;
    border-left: 1px solid #8d8d8d;;

}
.panel a {
    display: block;
    line-height: 35px;
    background: url(img/img4.png);
    height: 35px;
    text-decoration:none;
    font-size: 17px;
    color: #444444;
}

.panel li {
    background: url(img/str.png) no-repeat right;
    padding-right: 15px;
    float: left;
}
.panel li:first-child{
    border-left: 1px solid #5c5b5b;
}
.panel img{
    position: relative;
    margin: 2px 0 0 2px;
}
 {margin-left: -4px;}
.panel li:last-child {background: url(img/kon.png)no-repeat right ; }
/*Dima NOOBbhb */